.container{
  width: 75%;
  height: fit-content;
  border: 0.1rem solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem ;
}

.carousel{
  & li{
    margin-right: 0.3rem;
    list-style: none;

    &:hover{
      & .titleProject{
        display: flex;
      }
    }

    & a{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: var(--black);
      padding: 0.2rem;

      border: 0.1rem solid var(--outline);
      border-radius: 0.5rem;
    }
  }
}

.image{
  width: 13rem;
  height: 13rem;

  @media (max-width: 720px){
    width: 12rem;
    height: 12rem;
  }

  @media (max-width: 680px){
    width: 11rem;
    height: 12rem;
  }


  @media (max-width: 640px){
    width: 10rem;
    height: 11rem;
  }

  @media (max-width: 630px){
    width: 14rem;
    height: 13rem;
  }

  @media (max-width: 480px){
    width: 12rem;
    height: 12rem;
  }

  @media (max-width: 420px){
    width: 10rem;
    height: 11rem;
  }

  @media (max-width: 380px){
    width: 9rem;
    height: 11rem;
  }

  @media (max-width: 360px){
    width: 8rem;
    height: 11rem;
  }


  @media (max-width: 340px){
    width: 7rem;
    height: 11rem;
  }


  @media (max-width: 310px){
    width: 5.5rem;
    height: 11rem;
  }
}

.titleProject{
  display: none;
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
}